/* .news-card {
    min-height: 350px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
  }
  
  .news-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .news-card .card-title {
    flex-grow: 0;
  }
  
  .news-card .card-text {
    flex-grow: 1;
  }
  
  .news-card .btn {
    flex-grow: 0;
    align-self: flex-end;
  }
   */

   .image-css {
   width: 100px;
   height: 100px;
    display: flex;
    /* flex-direction: column; */
  }
  
  .news-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .news-card .card-title {
    flex-grow: 0;
  }
  
  .news-card .card-text {
    flex-grow: 1;
  }
  
  .news-card .btn {
    flex-grow: 0;
    align-self: flex-end;
  }
  