.car-det-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto; /* Center horizontally */
    margin-top: 270px;
    border: none;
    border-radius: 60px;
    background-color: #9e8d8d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
    display: flex;
    align-items: center; /* Center vertically */
  }
  
  .car-det-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-img-top {
    max-width: 60%; /* Make sure the image doesn't exceed the card width */
  }
  
  .link1 {
    width: 100%; /* Make the button full width */
  }
  