html {
  overflow-x: hidden;
}
.body{
  background-color: rgb(103, 86, 70);

}
.news-item{
  background-color: rgb(225, 214, 155);

}
.card-body{
  background-color: rgb(225, 214, 155);

  /* background-color: rgb(103, 86, 70); */

}
.login1{
  background-color: rgb(103, 86, 70);

  
}

.header {
  background-color: rgb(103, 86, 70);


    color: white;
    padding: 20px;
    text-align: left;
    width: 100%;
  }
  
  .header-buttons {
    display: flex;
    justify-content: flex-start;
  }
  
  .header-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
  }
  .footer {
    background-color: #3F3B2E;
    /* background-color: #736246; */

    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .content {
    padding: 20px;
    margin-bottom: 60px; /* Враховуємо висоту футера */
  }
  .home-page{
    background-color: #A4895C;
  }